body {
  display: flex;
  min-height: 100vh;
  margin: auto;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
